# Laboratório de Fluídos & Termodinâmica

## Princípio de Pascal & Teorema de Stevin

* Aluno: Gabriel Wendell Celestino Rocha
* Matrícula: 20190112149

* Professor: João Medeiros de Araujo.
* Data: 14/03/2021

### Bibliotecas utilizadas

In [1]:
import pandas as pd
import numpy as np

%matplotlib notebook

### Lendo os dados

In [2]:
data = pd.read_excel('ExpData.xlsx')
data

  Nº Exp.  h_water   h_oil   rho_oil
0  Exp. 1      38.5    38.7     0.994
1  Exp. 2      38.6    38.9     0.992
2  Exp. 3      38.8    39.2     0.990
3  Exp. 4      38.7    38.9     0.994
4  Exp. 5      38.2    38.5     0.992
5   Sigma       0.0     0.0     0.000

* $[h_{water}]$ = cm
* $[h_{oil}]$ = cm
* $[\rho_{oil}]$ = g$\cdot$cm$^{-3}$
* $\rho_{water}$ = $10^{3}$ kg$\cdot$m$^{-3}$=1.0 g$\cdot$cm$^{-3}$

### Desvio padrão

$$\boxed{\sigma=\sqrt{\frac{1}{N}\sum_{i=1}^{n}(x_{i}-\mu)^{2}}}$$

In [3]:
data.loc[5, 'h_water '] = np.std(data['h_water '][0:5])
data.loc[5, 'h_oil '] = np.std(data['h_oil '][0:5])
data.loc[5, 'rho_oil '] = np.std(data['rho_oil '][0:5])

In [4]:
h_water = np.mean(data['h_water '][0:5])
h_oil = np.mean(data['h_oil '][0:5])
rho_oil = np.mean(data['rho_oil '][0:5])

print('h_water = ',h_water, '+/-', data['h_water '][5])
print('h_oil = ',h_oil, '+/-', data['h_oil '][5])
print('rho_oil = ',rho_oil, '+/-', data['rho_oil '][5])

h_water =  38.56 +/- 0.2059126028197388
h_oil =  38.839999999999996 +/- 0.23323807579381242
rho_oil =  0.9924 +/- 0.0014966629547095778

Densidade do óleo de cozinha $\rho_{oleo}=0,9982\text{ g/cm}^{3} \text{ a 20}^{\circ}C$
* Fonte: JESUS, V.L.B. de  and  PALMA, D.A. et al 2008
* DOI: http://dx.doi.org/10.1590/S1806-11172008005000002

### Erro relativo percentual

$$\boxed{\%Error=\frac{|\text{estimative}-\text{actual}|}{\text{actual}}\cdot100}$$

In [5]:
def Error_perc(est, act):
    return (np.abs(est-act)/act)*100

Err_oil = Error_perc(0.9982,rho_oil)

print('Erro relativo percentual =', Err_oil, '%')

Erro relativo percentual = 0.5844417573559076 %

### Coeficiente de variação

$$\boxed{CV=\frac{\sigma}{\mu}\cdot100}$$

* $CV\leq15\%$: Baixa dispersão (dados homogêneos)
* $15\%<CV<30\%$: Média dispersão
* $CV\geq30\%$: Alta dispersão (dados heterogêneos)

In [6]:
def CV(sigma,mu):
    return (sigma/mu)*100

CV_hwater = CV(data['h_water '][5], h_water)
CV_hoil = CV(data['h_oil '][5], h_oil)
CV_poil = CV(data['rho_oil '][5], rho_oil)

print('CV (h_water) =', CV_hwater, '%')
print('CV (h_oil) =', CV_hoil, '%')
print('CV (rho_oil) =', CV_poil, '%')

CV (h_water) = 0.5340057127067915 %
CV (h_oil) = 0.6005099788718137 %
CV (rho_oil) = 0.1508124702448184 %

### Margem de erro

$$\boxed{E=1,96\cdot\frac{\sigma}{N}}$$

In [7]:
def E(sigma, N):
    return 1.96*(sigma/N)

E_hwater = E(data['h_water '][5], 5)
E_hoil = E(data['h_oil '][5], 5)
E_poil = E(data['rho_oil '][5], 5)

print('E (h_water) =', E_hwater)
print('E (h_oil) =', E_hoil)
print('E (rho_oil) =', E_poil)

E (h_water) = 0.08071774030533761
E (h_oil) = 0.09142932571117447
E (rho_oil) = 0.0005866918782461545

In [8]:
data

  Nº Exp.   h_water      h_oil   rho_oil
0  Exp. 1  38.500000  38.700000  0.994000
1  Exp. 2  38.600000  38.900000  0.992000
2  Exp. 3  38.800000  39.200000  0.990000
3  Exp. 4  38.700000  38.900000  0.994000
4  Exp. 5  38.200000  38.500000  0.992000
5   Sigma   0.205913   0.233238  0.001497

$\blacksquare$

![image](https://media.giphy.com/media/xUPOqo6E1XvWXwlCyQ/giphy.gif)